img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    box-sizing: border-box;
    border: dotted 3px #E74D3D;
    transition: 0.3s;
}

input[type=file] {
    color: transparent;
}